:root {
    --main-color: indigo;
    --next-color: pink;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: rgb(48, 6, 199);
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
}


.info {
    flex: 1 0 0;
    padding: 20px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    color: var(--next-color);
    background-color: var(--main-color);
    padding: 20px;
}

.contact h2 {
    color: var(--next-color);
}

.contact ul li a {
    color: var(--next-color);
    text-decoration: none;
}

.contact ul li a:hover {
    color: fuchsia;
    text-decoration: underline;
}